data/*

dataset/notebook/*

__pycache__/
*.pyc
*.pyo

*.log

launch.json

ext_data/result/*.pkl
ext_data/result/*.json
prompts/prompt_evcap_with_obj_tags.txt

**/model_config_and_arguments.json

**/spice/tmp/*

**/pycocoevalcap/tokenizer/*

sandbox/

results/EVAL/**/*.json
results/**/*.jpg 
results/**/*.png
results/**/*.pt

ext_data/**/*.pkl

**/training_metrics.json
dataset/result/sample_data/images/captions_val2014_sampled_005_sampling_statistics.png

evaluation/*

.env
secrets.txt
