# data/*

data/lvis/** 
data/coco/coco2014/**
data/coco/created_usefull_file/**
data/coco/karpathy/**

# But don’t ignore these two files
# Unignore the folders leading to the files
!data/
!data/coco/
!data/coco/coco2014/
!data/coco/coco2014/annotations/
!data/coco/coco2014/annotations/captions_train2014_sampled.json
!data/coco/coco2014/annotations/captions_val2014_sampled_005_fixed_format.json

dataset/notebook/*

__pycache__/
*.pyc
*.pyo

*.log

launch.json

ext_data/**/*.pkl
ext_data/**/*.json
ext_data/**/*.h5

!ext_data/ext_memory_lvis.pkl

prompts/prompt_evcap_with_obj_tags.txt


**/model_config_and_arguments.json

**/spice/tmp/*

**/pycocoevalcap/tokenizer/*

sandbox/

results/EVAL/**/*.json
results/**/*.jpg 
results/**/*.png
results/**/*.pt

**/training_metrics.json
dataset/result/sample_data/images/captions_val2014_sampled_005_sampling_statistics.png

evaluation/*

.env
secrets.txt
